%h2
  いいねしてるユーザ

= render 'articles/article', article: @article
   
%hr

- if @users.empty?
  「いいね」してるユーザはいません。
- else
  %ul
    - @users.each do |user|
      %li= link_to user.name, profile_path(user.name)
